* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 68% 16% 8%;
    grid-template-columns: 2.5fr 2fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

header h1 span, header h2 span {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
    height: 80%;
}

.square {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.controls button:disabled:hover {
    cursor: default;
    transform: none;
    background-color: rgb(23, 146, 234);
}

.controls button {
    padding: 25px;
    margin: 0 10px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-size: 25px;
}

.controls button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
    transform: scale(1.015);
}

aside {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.display {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 90%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: large;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(23, 146, 234);
    width: 95%;
}

.display p {
    color: white;
}

.display p:nth-of-type(1){
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.display p:nth-of-type(2) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.display p:nth-of-type(3) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.display span {
    padding: 10px;
}

#displayMain {
    background-color: rgb(200, 200, 200);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    color: white;
    font-size: 60px;
}

#displayMain i {
    display: inline-block;
    padding: 10px;
}

#displayP1 {
    background-color: rgb(200, 200, 200);
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    color: white;
    font-size: 60px;
}

#displayP1 i {
    display: inline-block;
    padding: 10px;
}

#displayP2 {
    background-color: rgb(200, 200, 200);
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    color: white;
    font-size: 60px;
}

#displayP2 i {
    display: inline-block;
    padding: 10px;
}

.play-reset-selectLevel {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
}

.play-reset-selectLevel button {
    margin: 0 10px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: x-large;
    background-color: rgb(0, 94, 173);
    cursor: pointer;
    width: 100%;
    font-size: 34px;
}

.play-reset-selectLevel button:disabled:hover {
    cursor: default;
    transform: none;
    background-color: rgb(0, 94, 173);
}

.play-reset-selectLevel button:hover {
    background-color: rgba(0, 94, 173, 85%);
    transform: scale(1.015);
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#resultOverlay {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

#resultOverlay p {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;

}

#resultOverlay p.hidden {
    display: none;
}

#resultOverlay button:hover {
    transform: scale(1.015);
    cursor: pointer;
}

#resultOverlay button {
    padding: 15px;
    font-size: 50px;
    border-radius: 10px;
    border: 5px solid black;
    background-color: yellow;
}

#feedback {
    text-shadow: 5px 5px 5px black, 2px -2px 0px black, -2px -2px 0px black, -2px 2px 0px black;
    font-size: 150px;
}

#resultOverlay button.hidden {
    display: none;
}

.ground-empty {
    background: red;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(8, 0, 0, 1) 100%);
}

.robot-style {
    padding-top: 5px;
    font-size: 60px;
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    0 -2px 0 #000,
    2px -2px 0 #000,
    -2px 0 0 #000,
    2px 0 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 2px 0 #000;
}

#selectLevelsTotalArea {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: 92vh;
    background-color: aqua;
    position: absolute;
}

#selectLevelsTotalArea header {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: larger;
    background-color: white;
    padding: 80px;
}

#selectLevelsTotalArea.hidden {
    display: none;
}

#selectLevelsSection {
    z-index: 999;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 0.7fr 1fr 1fr 0.7fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.squareLevel {
    background-color: white;
    font-size: xx-large;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2.5px solid black;
}

.squareLevel:hover {
    cursor: pointer;
    transform: scale(1.015);
}

#squareLevel1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#squareLevel2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#squareLevel3 {
    grid-column: 4/5;
    grid-row: 2/3;
}

#squareLevel4 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#squareLevel5 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#squareLevel6 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.notAvailable {
    background-color: lightgray;
    color: black;
}

.notAvailable:hover {
    cursor: default;
    transform: none;
}
